In [3]:
import Pkg; Pkg.add("DataFrames")
Pkg.add("Missings")
Pkg.add("CSV")
Pkg.add("Statistics")
using DataFrames
using CSV
using Missings
using Statistics

    Updating registry at `~/.julia/registries/General.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
    Updating `~/.julia/environments/v1.7/Project.toml`
  [10745b16] + Statistics
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [33]:
df = DataFrame(
colour = ["green","blue","white","green","green"],
shape  = ["circle", "triangle", "square","square","circle"],
border = ["dotted", "line", "line", "line", "dotted"],
area   = [1.1, 2.3, 3.1, missing, 5.2])

5×4 DataFrame
 Row │ colour  shape     border  area
     │ String  String    String  Float64?
─────┼─────────────────────────────────────
   1 │ green   circle    dotted        1.1
   2 │ blue    triangle  line          2.3
   3 │ white   square    line          3.1
   4 │ green   square    line    missing
   5 │ green   circle    dotted        5.2

In [4]:
tuples = (:H => [5, 10], :J => [10, 15])

(:H => [5, 10], :J => [10, 15])

In [5]:
typeof(tuples)

Tuple{Pair{Symbol, Vector{Int64}}, Pair{Symbol, Vector{Int64}}}

In [6]:
df = DataFrame(tuples)

2×2 DataFrame
 Row │ first   second
     │ Symbol  Array…
─────┼──────────────────
   1 │ H       [5, 10]
   2 │ J       [10, 15]

In [7]:
names(df)

2-element Vector{String}:
 "first"
 "second"

In [8]:
dict = Dict(:H => [5, 10, 15, 20], :J => [1, 2, 3, 4])

Dict{Symbol, Vector{Int64}} with 2 entries:
  :H => [5, 10, 15, 20]
  :J => [1, 2, 3, 4]

In [20]:
typeof(dict)

LoadError: MethodError: no method matching describe(::Dict{Symbol, Vector{Int64}})
Closest candidates are:
  describe(::AbstractDataFrame; cols) at ~/.julia/packages/DataFrames/JZ7x5/src/abstractdataframe/abstractdataframe.jl:605
  describe(::AbstractDataFrame, ::Union{Symbol, Pair{<:Union{Function, Type}, <:Union{AbstractString, Symbol}}}...; cols) at ~/.julia/packages/DataFrames/JZ7x5/src/abstractdataframe/abstractdataframe.jl:602

In [21]:
df = DataFrame(dict)
describe(df)

2×7 DataFrame
 Row │ variable  mean     min    median   max    nmissing  eltype
     │ Symbol    Float64  Int64  Float64  Int64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────
   1 │ H            12.5      5     12.5     20         0  Int64
   2 │ J             2.5      1      2.5      4         0  Int64

In [25]:
df = DataFrame(:X => [5,10,15,20], :Y => [5,10,15,20])

4×2 DataFrame
 Row │ X      Y
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │    10     10
   3 │    15     15
   4 │    20     20

In [26]:
push!(df, [10, 15])

5×2 DataFrame
 Row │ X      Y
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │    10     10
   3 │    15     15
   4 │    20     20
   5 │    10     15

In [27]:
# Child of struct:
acol = df.X
acol

5-element Vector{Int64}:
  5
 10
 15
 20
 10

In [13]:
# Key:
df[!, :X]

5-element Vector{Int64}:
  5
 10
 15
 20
 10

In [14]:
names(df)

2-element Vector{String}:
 "X"
 "Y"

In [15]:
df[!, :Z] = [1, 2, 3, 4, 5]

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [16]:
show(df)

5×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     10      2
   3 │    15     15      3
   4 │    20     20      4
   5 │    10     15      5

In [18]:
show(df, allcols = true)

5×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     10      2
   3 │    15     15      3
   4 │    20     20      4
   5 │    10     15      5

In [19]:
first(df, 2)

2×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     10      2

In [20]:
last(df, 3)

3×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    15     15      3
   2 │    20     20      4
   3 │    10     15      5

In [21]:
df[2:4, :]

3×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │    10     10      2
   2 │    15     15      3
   3 │    20     20      4

In [22]:
df[Not(2:4), :]

2×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     15      5

In [17]:
show(df)

5×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     10      2
   3 │    15     15      3
   4 │    20     20      4
   5 │    10     15      5

In [24]:
df[2, 2]

10

In [7]:
df2 = DataFrame(:A => [5, 10, 15, 20, 25], :Y => [5, 10, 15, 20, 15])

5×2 DataFrame
 Row │ A      Y
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │    10     10
   3 │    15     15
   4 │    20     20
   5 │    25     15

In [18]:
innerjoin(df, df2, on = :Y)

7×4 DataFrame
 Row │ X      Y      Z      A
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     5      5      1      5
   2 │    10     10      2     10
   3 │    15     15      3     15
   4 │    10     15      5     15
   5 │    20     20      4     20
   6 │    15     15      3     25
   7 │    10     15      5     25

In [20]:
df

5×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     10      2
   3 │    15     15      3
   4 │    20     20      4
   5 │    10     15      5

In [21]:
df

5×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     10      2
   3 │    15     15      3
   4 │    20     20      4
   5 │    10     15      5

In [22]:
sort!(df)

5×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5      1
   2 │    10     10      2
   3 │    10     15      5
   4 │    15     15      3
   5 │    20     20      4

In [93]:
DataFrame([Float64, Float64, Int64, Int64], [Symbol("x$i") for i in 1:4], 3)

LoadError: ArgumentError: `DataFrame` constructor with passed eltypes is not supported. Pass explicitly created columns to a `DataFrame` constructor instead.

In [23]:
df = DataFrame(:A => [5, missing, 6], :B => [5, 10, 2])

3×2 DataFrame
 Row │ A        B
     │ Int64?   Int64
─────┼────────────────
   1 │       5      5
   2 │ missing     10
   3 │       6      2

In [24]:
dropmissing(df)

2×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │     6      2

In [25]:
df

3×2 DataFrame
 Row │ A        B
     │ Int64?   Int64
─────┼────────────────
   1 │       5      5
   2 │ missing     10
   3 │       6      2

In [26]:
dropmissing(df, :A)

2×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │     6      2

In [40]:
df3  = DataFrame(x=[1,missing,3,nothing,5,NaN], y='a':'f')

6×2 DataFrame
 Row │ x        y
     │ Union…?  Char
─────┼───────────────
   1 │ 1.0      a
   2 │ missing  b
   3 │ 3.0      c
   4 │          d
   5 │ 5.0      e
   6 │ NaN      f

In [43]:
filter( [1] => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df3)

3×2 DataFrame
 Row │ x        y
     │ Union…?  Char
─────┼───────────────
   1 │ 1.0      a
   2 │ 3.0      c
   3 │ 5.0      e

In [79]:
filter(:x => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df3)

3×2 DataFrame
 Row │ x        y
     │ Union…?  Char
─────┼───────────────
   1 │ 1.0      a
   2 │ 3.0      c
   3 │ 5.0      e

In [60]:

df = DataFrame(x=[missing,NaN,3432.34,432.2,NaN, 43.])
# select numerical type columns from a DataFrame df3
filter(:x => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df)

3×1 DataFrame
 Row │ x
     │ Float64?
─────┼──────────
   1 │  3432.34
   2 │   432.2
   3 │    43.0

In [64]:
df = DataFrame(A=[1,3,4,5,6,432], B=[1,3,4,5,6,3], C=["a","b","c","d","e","f"])

6×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  String
─────┼──────────────────────
   1 │     1      1  a
   2 │     3      3  b
   3 │     4      4  c
   4 │     5      5  d
   5 │     6      6  e
   6 │   432      3  f

In [80]:
using Missings
# drop columns with not number values
df = df[:, map(col -> eltype(col) <: Number, eachcol(df))]
# note use of subtype operator <:

6×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     1      1
   2 │     3      3
   3 │     4      4
   4 │     5      5
   5 │     6      6
   6 │   432      3

In [23]:

using DataFrames; df = CSV.read("house100Data.csv", DataFrame)
describe(df)

82×7 DataFrame
 Row │ variable       mean       min      median    max      nmissing  eltype  ⋯
     │ Symbol         Union…     Any      Union…    Any      Int64     Type    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Column1        49.5       0        49.5      99              0  Int64   ⋯
   2 │ Id             50.5       1        50.5      100             0  Int64
   3 │ MSSubClass     52.0       20       45.0      190             0  Int64
   4 │ MSZoning                  C (all)            RM              0  String7
   5 │ LotFrontage    71.407     21.0     70.0      122.0          14  Union{M ⋯
   6 │ LotArea        10115.9    1596     9595.5    50271           0  Int64
   7 │ Street                    Grvl               Pave            0  String7
   8 │ Alley                     Grvl               Pave           94  Union{M
   9 │ LotShape                  IR1                Reg             0  String3 ⋯
  10 │ LandContour               Bnk                Lvl             0  String3
  11 │ Utilities                 AllPub             AllPub          0  String7
  ⋮  │       ⋮            ⋮         ⋮        ⋮         ⋮        ⋮              ⋱
  73 │ PoolArea       0.0        0        0.0       0               0  Int64
  74 │ PoolQC                                                     100  Missing ⋯
  75 │ Fence                     GdPrv              MnPrv          77  Union{M
  76 │ MiscFeature               Shed               Shed           91  Union{M
  77 │ MiscVal        46.3       0        0.0       700             0  Int64
  78 │ MoSold         6.33       1        6.0       12              0  Int64   ⋯
  79 │ YrSold         2007.9     2006     2008.0    2010            0  Int64
  80 │ SaleType                  COD                WD              0  String7
  81 │ SaleCondition             Abnorml            Partial         0  String7
  82 │ SalePrice      1.73821e5  40000    153750.0  438780          0  Int64   ⋯
                                                    1 column and 61 rows omitted