In [2]:
import Pkg; Pkg.add("DataFrames")
Pkg.add("Missings")
Pkg.add("CSV")
Pkg.add("Statistics")
using DataFrames
using CSV
using Missings
using Statistics

    Updating registry at `~/.julia/registries/General.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [6]:
df = DataFrame(a=1:4, b='A':'D')
df.a
df.c = [1.0, 2.0, 3.0, 4.0]
df[1:3,2]

3-element Vector{Char}:
 'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)
 'B': ASCII/Unicode U+0042 (category Lu: Letter, uppercase)
 'C': ASCII/Unicode U+0043 (category Lu: Letter, uppercase)

In [ ]:
df = DataFrame(
colour = ["green","blue","white","green","green"],
shape  = ["circle", "triangle", "square","square","circle"],
border = ["dotted", "line", "line", "line", "dotted"],
area   = [1.1, 2.3, 3.1, missing, 5.2])

In [ ]:
describe(df)

In [ ]:

for c in eachrow(df)    # eachcol(df) for columns
    print(c)
end

In [ ]:
#Referencing is obtained using the exclamation mark ! for the row position 
#(to emphasize that referenced data could be changed in the new object) 
myRef1 = df[!, :colour]  # we need to do this rather than df[:, :colour]
#myRef1[1] = "pink"   # changes the original dataframe as well
#myRef1

In [ ]:
df[1, :colour] = "pink"  # changes the original dataframe as well
df

In [ ]:
dict = Dict(:Color=>["green","blue","white","green","green"],:Shape=>["circle", "triangle", "square","square","circle"],:Border=>["dotted", "line", "line", "line", "dotted"],:Area=>[1.1, 2.3, 3.1, missing, 5.2])
df = DataFrame(dict)
#select(df, Not(:Area))   # drop column :Area

In [ ]:
tuples = (:H => [5, 10], :J => [10, 15])
typeof(tuples)

In [ ]:
df = DataFrame(tuples) # note the column names are not controlled by the user

In [ ]:
# we have a list of 3 books and their authors. Some of the books have more than one author
# list of books "The Hobbit", "The Lord of the Rings", "The Silmarillion"
# list of authors "J.R.R. Tolkien", "J.R.R. Tolkien",     "J.R.R. Tolkien" and "Christopher Tolkien"
# construct a dataframe with two columns: Book and Author

# if we write this out to a CSV file what do we expect to see?

In [ ]:
names(df)

In [ ]:
df = DataFrame(:X => [5,10,15,20], :Y => [5,10,15,20])

In [ ]:
push!(df, [10, 15])

In [ ]:
df.Z = df.X .* df.Y    # add a new column using element wise multiplication
df

In [ ]:
# Key:  note the use of the !
df.W = df[!, :X]
df.V = ['a', 'b', 'c', 'd', 'e']
df

In [18]:
df = DataFrame(:X => [5,10,15,20], :Y => [5,10,15,20])
df.Z = df.X .* df.Y    # add a new column using element wise multiplication
push!(df, [10, 15, 99])

5×3 DataFrame
 Row │ X      Y      Z
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     5      5     25
   2 │    10     10    100
   3 │    15     15    225
   4 │    20     20    400
   5 │    10     15     99

In [ ]:
names(df)
# test columns for type and select only Number columns

function getNumericColumns(df)
    numericColumns = []
    for i in 1:size(df)[2]
        if eltype(df[:, i]) <: Number
            push!(numericColumns, names(df)[i])
        end
    end
    return numericColumns
end
getNumericColumns(df)
#select(df,[Symbol('X'), Symbol('Y'), Symbol('Z'), Symbol('W')])
#select(df, getNumericColumns(df))

In [ ]:
#rename!(df, :X => :XMAS)

In [19]:
df[!, :U] = [1, 2, 3, 4, 5]

5-element Vector{Int64}:
 1
 2
 3
 4
 5

In [20]:
show(df)

5×4 DataFrame
 Row │ X      Y      Z      U
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     5      5     25      1
   2 │    10     10    100      2
   3 │    15     15    225      3
   4 │    20     20    400      4
   5 │    10     15     99      5

In [ ]:
first(df, 2)

In [ ]:
last(df, 3)

In [ ]:
df[2:4, :]

In [7]:
df[Not(2:4), :]

1×3 DataFrame
 Row │ a      b     c
     │ Int64  Char  Float64
─────┼──────────────────────
   1 │     1  A         1.0

In [22]:
show(df)

5×4 DataFrame
 Row │ X      Y      Z      U
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     5      5     25      1
   2 │    10     10    100      2
   3 │    15     15    225      3
   4 │    20     20    400      4
   5 │    10     15     99      5

In [ ]:
df[2, 2]

In [9]:
df2 = DataFrame(:A => [5, 10, 15, 20, 25], :Y => [5, 10, 15, 20, 15])

5×2 DataFrame
 Row │ A      Y
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │    10     10
   3 │    15     15
   4 │    20     20
   5 │    25     15

In [21]:
innerjoin(df, df2, on = :Y)

7×5 DataFrame
 Row │ X      Y      Z      U      A
     │ Int64  Int64  Int64  Int64  Int64
─────┼───────────────────────────────────
   1 │     5      5     25      1      5
   2 │    10     10    100      2     10
   3 │    15     15    225      3     15
   4 │    10     15     99      5     15
   5 │    20     20    400      4     20
   6 │    15     15    225      3     25
   7 │    10     15     99      5     25

In [ ]:
df

In [ ]:
df

In [ ]:
sort!(df)

In [ ]:
DataFrame([Float64, Float64, Int64, Int64], [Symbol("x$i") for i in 1:4], 3)

In [ ]:
df = DataFrame(:A => [5, missing, 6], :B => [5, 10, 2])

In [ ]:
dropmissing(df)

In [ ]:
df

In [ ]:
dropmissing(df, :A)

In [ ]:
df3  = DataFrame(x=[1,missing,3,nothing,5,NaN], y='a':'f')

In [ ]:
filter( [1] => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df3)

In [ ]:
filter(:x => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df3)

In [ ]:

df = DataFrame(x=[missing,NaN,3432.34,432.2,NaN, 43.])
# select numerical type columns from a DataFrame df3
filter(:x => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df)

In [ ]:
df = DataFrame(A=[1,3,4,5,6,432], B=[1,3,4,5,6,3], C=["a","b","c","d","e","f"])

In [ ]:
using Missings
# drop columns with not number values - using subtype operator <: 
df = df[:, map(col -> eltype(col) <: Number, eachcol(df))]
# note use of subtype operator <:

In [ ]:

using DataFrames; df = CSV.read("house100Data.csv", DataFrame)
describe(df)

In [ ]:
Pkg.add("JSON")
using JSON
using HTTP

url = "https://pollysnips.s3.amazonaws.com/contacts.json"
res = HTTP.get(url)
str = String(res.body)
jobj = JSON.Parser.parse(str)

In [ ]:
df = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])
df2 = DataFrame(A = 6, B = ["F"])
df3 = vcat(df, df2)

In [24]:
# we have a list of 3 books and their authors. Some of the books have more than one author
# list of books "The Hobbit", "The Lord of the Rings", "The Silmarillion"
# list of authors "J.R.R. Tolkien", "J.R.R. Tolkien",     "J.R.R. Tolkien" and "Christopher Tolkien"
# construct a dataframe with two columns: Book and Author
a = ["The Hobbit", "The Lord of the Rings", "The Silmarillion"]
b = [["J.R.R. Tolkien"], ["J.R.R. Tolkien"], ["J.R.R. Tolkien", "Christopher Tolkien"]]
df = DataFrame(Book = a, Author = b)
CSV.write("books.csv", df)

"books.csv"